<nav>
  <ul class="pager">
    <li class="previous <%= page == 0 ? 'disabled' : '' %> ">
      <a href="#" ng-click="previousPage()">&larr; Previous</a>
    </li>

    <li class="next">
      <a href="#" ng-click="nextPage()">Next &rarr;</a>
    </li>
  </ul>
</nav>